
.coll_book_no{
    font-size: 15pt;
    color: #000;
    text-align: right;
    margin-bottom: 10px;
}

.coll_book_title{
    font-size: 15pt;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.coll_book_item{
    font-size: 15pt;
    font-weight: normal;
    color: #306a40;
    text-align: left;
    margin-bottom: 10px;
}