
@font-face {
    font-family: "王漢宗特黑體繁";
    src: url(./font/wang-han.ttf) format("truetype");
}

body {
    padding-top: 60pt;
    background-color: #FFF7E3;
    font-size: 3em;
    background-image: url(./image/main_bg.png);
    background-position: 0% 0%;
    background: fixed;
}

.navbar.fixed-top {
    box-shadow: 0 2pt 4pt rgba(225, 61, 36, 0.1);
    padding: 0pt;
}

.content-section {
    min-height: 500pt;
    padding: 20pt;
    margin-bottom: 20pt;
    background-color: rgba(192, 55, 34, 0.1);
    border-radius: 8pt;
}

.nav-link.active{
    font-size: 2.5rem;
    color: white;
}

.nav-item {
    align-content: center;
}

.nav-link{
    font-size: 2rem;
    font-family: 王漢宗特黑體繁;
    /* color: #135053;  */

}


.toptitle{
    background-color: rgba(179, 133, 114, 0.82);
    box-shadow: 1pt 13pt 10pt rgb(88 137 136 / 33%);
    font-size: 3rem;
    font-family: 王漢宗特黑體繁;
    color: #135053;
}

.mybrand{
    font-size: 35pt;
    font-family: 王漢宗特黑體繁;
    color: #135053;
}

.qrcontain{
    width: 128pt;
    height: 128pt;
}


.canva-image{
    width: 100%;
}

hr.present {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 5px black;
}

hr.present:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}