
@font-face {
    font-family: "扁桃體";
    src: url(./font/wang-han.ttf) format("truetype");
}


@font-face {
    font-family: "扁桃體";
    src: url(./font/bsbt.ttf) format("truetype");
}

body.main{
    background-color: #072623;
}

body {
    padding-top: 60pt;
    background-color: #072623;
    font-size: 3em;
    background-image: url(./image/main_bg.png);
    background-position: 0% 0%;
    background: fixed;
}

.navbar.fixed-top {
    box-shadow: 0 2pt 4pt rgba(27, 55, 34, 0.301);
    padding: 0pt;
    background-color: white;
}

.content-section {
    min-height: 500pt;
    padding: 20pt;
    margin-bottom: 20pt;
    background-color: rgba(192, 55, 34, 0.1);
    border-radius: 8pt;
}


.nav-item {
    align-content: center;
}

.nav-link{
    font-size: 2rem;
    font-family: 扁桃體;
    color: #093831;
    /* color: #135053;  */
    padding-left: 3rem;
    letter-spacing: 5pt;
}


.nav-link.activeMain{
    font-size: 2.5rem;
    color: #893F3F;
}

.navbar-nav.main{
    --bs-nav-link-hover-color: #893F3F;
}

.toptitle{
    background-color: unset;
    box-shadow: 1pt 13pt 10pt rgba(17, 50, 49, 0.33);
    font-size: 3rem;
    font-family: 扁桃體;
    color: #135053;
    margin-left: 0;
    padding-left: 0px;
}

.mybrand{
    font-size: 35pt;
    font-family: 扁桃體;
    color: #862223;
    --bs-navbar-brand-hover-color: #893f3f;
    width: 200pt;
    height: 60pt;
    background-color: #093831;
    margin-left: 0;
    padding-top: 15pt;
    padding-bottom: 5pt ;
}

.qrcontain{
    width: 128pt;
    height: 128pt;
}


.canva-image{
    width: 100%;
}

hr.present {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 5px black;
}

hr.present:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

.navbar-toggler.main{
    background-color: #561111;
}